<h2>{{celeb.name}}</h2>
<h3>Occupation: {{celeb.occupation}}</h3>
<h3>Catch Phrase: {{celeb.catchPhrase}}</h3>
<img src="{{{celeb.image}}}" width="400px" alt="Hier wäre ein Bild">
<br>
<a href="/celebrities/index">Return</a>
